<style>
.postname{
font-size:25px;font-family: Trebuchet MS, sans-serif, Verdana;background-color:#ffcce7;width:80%;height:40px;color:#4d5198;
}
.date{
font-family: Trebuchet MS, sans-serif, Verdana;background-color:#ffcce7;margin-top:-65px;width:20%;float:right;font-size:15px;height:40px;text-align:left;color:#4d5198
}
.row{
font-size:25px;background-color:81b7d2;margin-top:-25px;color:#3c4087;padding:4px 10px
}
.read-more {
width:40%;height:18px;background-color:059bd9;color:#4d5198;font-family: Trebuchet MS, sans-serif, Verdana;border: none;cursor: pointer;margin-left:30%;height:30px;font-size:20px
}
.hover:hover {
  background-color: #9bc472;
  color: 4d5198;
  font-size:23px
}


</style>
<div style="width:60%;background-color:cbf6db;padding:0px 10px">

<p class="postname" >post name</p>
<p class="date" >10-12-2022</p>
<p class="row">fi po stgdastgstwetfytw4sftw4tefgvw4swsws row</p>
<p style="background-color:#16acea;margin-top:-25px;height:30px"><button class="read-more hover">читать больше</button></p>



</div>
